[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount/
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/ssch71/KernelSU-Next
	branch = dev-susfs-4.19
